<div class="wrapper" >
  <div class="container">
    <BR>
    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">FACT-IO</h2>
<br>
    <hr style="color: black; width: 100%;"/>
    <form [formGroup]="form" style="margin-top: 100px;">

      <input type="text" formControlName="user" id="user" placeholder="Username">
<br>
      <input type="password" formControlName="password" id="password" placeholder="Password">
<br><br><br>
      <div class="container" style="padding: 2em;">
      <button id="login-button" (click)="login($event)" expand="block">Login</button>
</div>
    </form>
    </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
